!!!
%html{:lang => "en-gb"}
  %title chuzlr, get chuzlin' baby
  %head{:profile => "http://gmpg.org/xfn/11"}
    %link{:href => "http://chuzlr.com/images/favicon.png", :rel => "shortcut icon", :type => "image/png"}/
    / Link basic styling for older browsers
    %link{:href => "/stylesheets/reset.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/squeezebox.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    %script{:src => "http://ajax.googleapis.com/ajax/libs/mootools/1.2.3/mootools-yui-compressed.js", :type => "text/javascript"}
    %script{:src => "/javascripts/mootools-1.2.3.1-more.js", :type => "text/javascript"}
    %script{:src => "/javascripts/sorting_table.js", :type => "text/javascript"}
    %script{:src => "/javascripts/paginating_table.js", :type => "text/javascript"}
    %script{:src => "/javascripts/swfobject.js", :type => "text/javascript"}
    %script{:src => "/javascripts/cufon-yui.js", :type => "text/javascript"}
    %script{:src => "/javascripts/museo.js", :type => "text/javascript"}
    %script{:src => "/javascripts/application.js", :type => "text/javascript"}
  %body.homer
    .pre_header
      .wrapper.clear
        - unless user_signed_in?
          .p
            %span
              = link_to "Sign in", new_user_session_path
              | #{link_to "Forgot password?", new_user_password_path}
    #header_home.clear
      .wrapper
        %h1.logo_home.g10
          %span chuzlr
        .g22
          %h2.clear
            %span
              What is wuzler? Wuzler tracks your table football shiznee. Create leagues, track stats &amp; arrange matches
              wuzler does it all, with a cheeky smile
          - if user_signed_in?
            = link_to "My profile", user_path(current_user), :class => 'hairylee'
          - else
            = link_to "Sign me up guv", new_user_registration_path, :class => 'hairylee'
    #shiznee
      .wrapper.clear
        .g10
          %h3 New players
          %ul.playaz
            - @users.each do |user|
              %li= link_to gravatar_image_tag(user.email), user_path(user), :title => user.name
        .g10.m1
          %h3 Most Active leagues
          %ul.laleagua
            - @leagues.each do |league|
              %li= link_to league.name, league_path(league)
        .g10.m1
          %h3 Dedicated players
          %ul#dedicated-graphs
            - @dedicated.each do |user|
              %li
                = link_to(raw("#{gravatar_image_tag(user.email)} #{user.name}"), user_path(user), :title => user.name)
                .games= user.played
    #footer
      .wrapper.clear
        .g6
          %p
            All your #{link_to("wuzlr", "http://github.com/yellow5/wuzlr", :target => "_blank")} are belong to us!
            Kept alive and updated with love by
            - ['yellow5', 'matt_mueller', 'levicole'].each_with_index do |handle, i|
              = raw((i == 0 ? "" : ", ") + link_to(handle, "http://twitter.com/#{handle}", :target => "_blank"))
            Props to the original #{link_to("wuzlr", "https://github.com/kernow/wuzlr", :target => "_blank")}!
        .g25.m1
